! Base16 Dream
! Author: 5nik7

! base00: #151B30
! base01: #1b2138
! base02: #2E354F
! base03: #434E73
! base04: #535e7c
! base05: #D6E4FF
! base06: #CCD5FF
! base07: #A1ADE6
! base08: #FD5A96
! base09: #FFB894
! base0A: #FFE1A6
! base0B: #4FFFCD
! base0C: #4DEAFF
! base0D: #7DA6FF
! base0E: #D69AFF
! base0F: #7206FF

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1b2138, #1b2138, #151B30

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1b2138, #D6E4FF, #1b2138, #1b2138, #A1ADE6
rofi.color-active:  #1b2138, #7DA6FF, #1b2138, #1b2138, #7DA6FF
rofi.color-urgent:  #1b2138, #FD5A96, #1b2138, #1b2138, #FD5A96

! Set the desired separator style
rofi.separator-style: solid
